{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Delete Laptop</title>
{% endblock %}

{% block content %}
     <h1>Delete Laptop</h1>
     <div>
         <p>ARE  YOU SURE TO DELETE THIS LAPTOP</p>
         <form method="post">
             {% csrf_token %}
             <a href="{% url 'delete_laptop' laptop.id %}"><button class="btn btn-danger">Delete</button></a>
             <a href="{% url 'show_laptop' %}"><button class="btn btn-success">Cancle</button></a>
         </form>


     </div>
{% endblock %}